<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
        <init-param>
            <param-name>cors.allowed.origins</param-name>
            <param-value>*</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.methods</param-name>
            <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.headers</param-name>
            <param-value>Content-Type,X_Requested_With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
        </init-param>
        <init-param>
            <param-name>cors.exposed.headers</param-name>
            <param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
        </init-param>
        <init-param>
            <param-name>cors.preflight.maxage</param-name>
            <param-value>86400</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ShowAccountServlet</servlet-name>
        <servlet-class>Controller.ShowAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowAccountServlet</servlet-name>
        <url-pattern>/ShowAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetOwnerServlet</servlet-name>
        <servlet-class>Controller.GetOwnerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetOwnerServlet</servlet-name>
        <url-pattern>/GetOwnerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetAddressServlet</servlet-name>
        <servlet-class>Controller.GetAddressServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAddressServlet</servlet-name>
        <url-pattern>/GetAddressServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetBranchesServlet</servlet-name>
        <servlet-class>Controller.GetBranchesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetBranchesServlet</servlet-name>
        <url-pattern>/GetBranchesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OpenAccountServlet</servlet-name>
        <servlet-class>Controller.OpenAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OpenAccountServlet</servlet-name>
        <url-pattern>/OpenAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeLimitServlet</servlet-name>
        <servlet-class>Controller.ChangeLimitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeLimitServlet</servlet-name>
        <url-pattern>/ChangeLimitServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CloseAccountServlet</servlet-name>
        <servlet-class>Controller.CloseAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CloseAccountServlet</servlet-name>
        <url-pattern>/CloseAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddFavoriteServlet</servlet-name>
        <servlet-class>Controller.AddFavoriteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddFavoriteServlet</servlet-name>
        <url-pattern>/AddFavoriteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditFavoriteServlet</servlet-name>
        <servlet-class>Controller.EditFavoriteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditFavoriteServlet</servlet-name>
        <url-pattern>/EditFavoriteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteFavoriteServlet</servlet-name>
        <servlet-class>Controller.DeleteFavoriteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteFavoriteServlet</servlet-name>
        <url-pattern>/DeleteFavoriteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetFavoriteServlet</servlet-name>
        <servlet-class>Controller.GetFavoriteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetFavoriteServlet</servlet-name>
        <url-pattern>/GetFavoriteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetPayeeNameServlet</servlet-name>
        <servlet-class>Controller.GetPayeeNameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetPayeeNameServlet</servlet-name>
        <url-pattern>/GetPayeeNameServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DepositServlet</servlet-name>
        <servlet-class>Controller.DepositServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DepositServlet</servlet-name>
        <url-pattern>/DepositServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WithdrawServlet</servlet-name>
        <servlet-class>Controller.WithdrawServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WithdrawServlet</servlet-name>
        <url-pattern>/WithdrawServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TransferServlet</servlet-name>
        <servlet-class>Controller.TransferServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransferServlet</servlet-name>
        <url-pattern>/TransferServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetTransactionHistoryServlet</servlet-name>
        <servlet-class>Controller.GetTransactionHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetTransactionHistoryServlet</servlet-name>
        <url-pattern>/GetTransactionHistoryServlet</url-pattern>
    </servlet-mapping>
</web-app>